<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nijinsha.bingomultiplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Main_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Host_Act" />
        <activity android:name=".Game_Act" />
        <activity android:name=".StartAgain" />
        <activity android:name=".about" />
        <activity android:name=".settings_page" />
        <activity android:name=".Wifi_menu"></activity>
    </application>

</manifest>